body{
    background-color: rgb(212, 196, 196);
}
.frame{
    align-items: center;
    width: 780px;
    height:730px;
    margin-left:350px;
    margin-top:5px;
}
@media screen and (max-width:720px){
    .frame{
        width:100%;
        margin-left:0.1px;
      
        height:600px;
    }
}